

#form {

    text-align: center;
   






}

body {

    background-image: url(System.jpg);
    background-position: center;




}

.High {

    color: aqua;





}

.Add {

    color: aqua;



}

.Cit {

    color: aqua;



}


.St {

    color: aqua;



}

.Num {

    color: aqua;



}

.Object {

    color: aqua;


}


.many {

    color: aqua;
}


.com {

    color: aqua;



}


.Date {



    color: aqua;
}


.Sub {

    width: 150px;
    height: 50px



}

.Title {

    text-align: center;



}